<body class="profile-body">
<div class="shadow-lg p-3 mb-5 rounded profileinfo-container">
<div class="profile-items">
  <div class="profile-h1">Profile
    <br>
    <br>
  </div>
<div class="profile-p1">
<div> <img class="profile-pic" src= " <%= currentUser.userImage %>" >  </div>
<br>
<br> </div>

<div class="profile-p1">
<div>
  First Name:  <%= currentUser.firstName %>
</div>
<div>
  Last Name:  <%= currentUser.lastName %>
</div>
<div>
  Phone Number:  <%= currentUser.phoneNumber %>
</div>
<div>
  Email:  <%= currentUser.email %>
</div>


<br>
  <button class="btn btn-outline-light login-btn">  <a href="/user/edit">Edit Profile</a> </button>
  <br>
  <br>
  <button class="btn btn-outline-light login-btn"> <a href="/user/changepassword">Change Password</a> </button>
</div>
 
<br> 
<br>


<div class="profile-h1">Bookings</div>
<br>

<table class="table-bordered profile-table">

<tr>
  <th>Name</th>
  <th>Number</th>
  <th>Number Of Tickets</th>
  <th>Activity</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>  

<%books.forEach((book)=>{%>

  <tr>
    <td><%= book.bookName %></td>
    <td><%= book.bookNum %></td>
    <td><%= book.noOfTickets%></td>
    <td>
      <%= book.activity.actName %>
    </td>
    <td><a href="/book/edit?id=<%=book._id%>">Edit</a></td>
    <td><a href="/book/delete?id=<%= book._id %>">Delete</a></td>
  </tr>
 
<%}) %>

</table>
</div>
</div>
</body>