<h1>Profile</h1>

<div>
  First Name: <%= currentUser.firstName %>
</div>
<div>
  Last Name: <%= currentUser.lastName %>
</div>
<div>
  Phone Number: <%= currentUser.phoneNumber %>
</div>
<div>
  email: <%= currentUser.email %>
</div>

<div> Image: <img class="category-icon" src= " <%= currentUser.userImage %>" >  </div>


<nav>
  <a href="/user/edit">Edit Profile</a>
  <a href="/user/changepassword">Change Password</a>
</nav>

<hr>


<h1>Books</h1>

<table>

<tr>
  <th>Name</th>
  <th>Number</th>
  <th>Number Of Tickets</th>
  <th>Activity</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>  

<%books.forEach((book)=>{%>

  <tr>
    <td><%= book.bookName %></td>
    <td><%= book.bookNum %></td>
    <td><%= book.noOfTickets%></td>
    <td>
      <%= book.activity.actName %>
    </td>
    <td><a href="/book/edit?id=<%=book._id%>">Edit</a></td>
    <td><a href="/book/delete?id=<%= book._id %>">Delete</a></td>
  </tr>
 
<%}) %>

</table>