<h1> Activity Details</h1>

<br>

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded form-container">
<div class="items">

<strong>Name:</strong><%= activity.actName %>

<br>

<strong>Description:</strong><%= activity.actDesc %>

<br>

<strong>Date:</strong><%= activity.date %>

<br>

<strong>Time:</strong><%= activity.time %>

<br>

<strong>Place:</strong><%= activity.place %>

<br>
<input type="hidden" name="activityId" value="<%= activity._id %>">
<strong> category: </strong>

  <% activity.category.forEach((category) => { %>
      <%= category.catgName %>
  <% }) %>

</div>
</div>

<% if(currentUser){ %>
<a href="/review/add?id=<%=activity._id%>"><button class="btn btn-secondary" type="submit">Add Review</button></a>
<a href="/book/add"><button class="btn btn-secondary" type="submit">Book</button></a>
<%} %>
<hr>

<h1>Reviews</h1>

<table>

  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th>Date</th>
   
  </tr>  
  
  <% reviews.forEach((review) => { %>
  
    <tr>
      <td><%= review.user.firstName%> <%= review.user.lastName%></td>
      <td><%= review.comment%></td>
      <td><%= moment(review.updatedAt).fromNow() %></td>
      <% if(currentUser){ %>
      <% if(currentUser._id.equals(review.user._id)){ %>
      <td><a href="/review/edit?id=<%=review._id%>">Edit</a></td>
      <td><a href="/review/delete?id=<%= review._id %>">Delete</a></td>
      <%}%>
      <%}%>

    </tr>
  
  
  <%}) %>

 </table>